extends ../layout

block content
    div(class="shadow jumbotron text-center")
        div(class="row")
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h1 ASP .Net Core Blog
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h4 C# ASP .Net Core
            div(class="col-lg-12 col-md-12 col-sm-12")
                p This is a blog i made using asp.net core. It has roles and bans it has admin menu paging and more. Also inculdes port scanner made with socket and node js and other tools. I dont have it up because it requires payment for azure.
            div(class="col-lg-12 col-md-12 col-sm-12")
                a(class="btn btn-info shadow" href="https://github.com/viktor111/ASP.net-Core-Blog") GitHub
            div(class="col-lg-12 col-md-12 col-sm-12")
                img(src="/images/project-asp1.jpg", style="width: 300px" class="shadow")
            div(class="col-lg-12 col-md-12 col-sm-12")
                img(src="/images/project-asp2.jpg", style="width: 300px" class="shadow")
    div(class="shadow jumbotron text-center")
        div(class="row")
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h1 Space-Invaders game made with pygame
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h4 Xamarin
            div(class="col-lg-12 col-md-12 col-sm-12")
                p This is a game i made with python. It resembles the old school game of space invaders.
            div(class="col-lg-12 col-md-12 col-sm-12")
                a(href="https://github.com/viktor111/space-invaders" class="btn btn-info shadow") GitHub
            div(class="col-lg-12 col-md-12 col-sm-12")
                img(src="/images/project-spaceinvaders2.png", style="width: 500px" class="shadow")
            div(class="col-lg-12 col-md-12 col-sm-12")
                img(src="/images/project-spaceinvaders.png", style="width: 500px" class="shadow")    
    div(class="shadow jumbotron text-center")
        div(class="row")
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h1 DevSpaceR
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h4 NodeJS
            div(class="col-lg-12 col-md-12 col-sm-12")
                p This is a webiste for open source projects it allows users to post and sign up for projects. It is build with node js. The backend is fully functional it only requires front end work.
            div(class="col-lg-6 col-md-6 col-sm-12")
                a(class="btn btn-info shadow" href="https://github.com/viktor111/DevSpaceR") GitHub
            div(class="col-lg-6 col-md-6 col-sm-12")
                a(class="btn btn-info shadow" href="https://dashboard.heroku.com/apps/devspacer") Website
     div(class="shadow jumbotron text-center")
        div(class="row")
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h1 zvadohacks
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h4 Python
            div(class="col-lg-12 col-md-12 col-sm-12")
                p These are hacking tools I made with python. There are tools for wifi sniffing spoofing and more.
            div(class="col-lg-12 col-md-12 col-sm-12")
                a(href="https://github.com/viktor111/zvadohacks") GitHub
    div(class="shadow jumbotron text-center")
        div(class="row")
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h1 zvadohacks Xamarin
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h4 Xamarin
            div(class="col-lg-12 col-md-12 col-sm-12")
                p This is my first application on xamarin. Its application for tutorial with zvadohacks tools and the basics of web and wifi.
            div(class="col-lg-12 col-md-12 col-sm-12")
                a(href="https://github.com/viktor111/zvadohacks-Android" class="btn btn-info shadow") GitHub
            div(class="col-lg-12 col-md-12 col-sm-12")
                img(src="/images/project-xamarin.png", style="width: 300px" class="shadow")
    div(class="shadow jumbotron text-center")
        div(class="row")
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h1 Boxing Club
            div(class="title col-lg-12 col-md-12 col-sm-12")
                h4 Javascript, CSS, HTML
            div(class="col-lg-12 col-md-12 col-sm-12")
                p This is project made for my trainer for boxing club webiste. Its made with javascript css and html.
            div(class="col-lg-12 col-md-12 col-sm-12")
                img(src="/images/projec-boxing1.png", style="width: 500px")  
            div(class="col-lg-12 col-md-12 col-sm-12")
                img(src="/images/project-boxing2.png", style="width: 500px")     
    
        
