div(class="nav-holder")
    nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
        a(class="navbar-brand" href="/") Home
        a(class="navbar-brand" href="/project/create") Create Project