extends layout

block content
  div(class="jumbotron introduction")
    div(class="row")
      div(class="col-lg-12 col-md-12 col-sm-12")
        h1(class="title text-center") Welcolme to my blog and portfolio
      div(class="col-lg-12 col-md-12 col-sm-12 description")
        p My name is Viktor im fullstack web developer with c# and node js i have ued SQL and No SQL databases (MsSQl, MongoDB and Firebase). I also have experience with python and working woth linux systems. I have also worked with xamarin and have experience developing android applications you can check my projects. I love to learn new things about programming and realize my ideas. 

    

